<div class="container">
    <div style="margin-bottom: 10px;">
        <h2>Get User Info:</h2>
        <form [formGroup]="applyForm" (submit)="getUserInfo()">
            <div class="container__inputs">
                <label for="user-id" class="form-label">User ID</label>
                <input id="user-id" type="text" formControlName="user-id" class="form-input">                
            </div>
            <button mat-stroked-button type="submit">Submit</button>
        </form>
    </div>
    <div *ngIf="userInfo">
        <p>Name: {{ userInfo.name }}</p>
        <p>Age: {{ userInfo.age }}
        <p>Job: {{ userInfo.job }}</p>
    </div>
    <p *ngIf="!userFound">No user found.</p>
</div>

