<div class="div-user-info">
    <div>
        <h2>Get user ID:</h2>
        <form [formGroup]="applyForm" (submit)="getUserInfo()">
            <div class="form-group">
                <label for="user-id" class="form-label">User ID</label>
                <input id="user-id" type="text" formControlName="user-id" class="form-input">                
            </div>
            <div class="button-container">
                <button type="submit" class="primary">Submit</button>
            </div>
        </form>
    </div>
    <div *ngIf="userInfo">
        <p>Name: {{ userInfo.name }}</p>
        <p>Age: {{ userInfo.age }}
        <p>Job: {{ userInfo.job }}</p>
    </div>
</div>

