/* You can add global styles to this file, and also import other style files */

.form-group {
    display: grid;
    grid-template-columns: 55px 1fr;
    gap: 5px;
    align-items: center;
    margin-bottom: 8px;
}

.form-label {
    text-align: left;
}

.form-input {
    width: 100%;
}
